<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px;  background-color: cadetblue;background-size: cover; background-position: center top;">
  <!-- Mask -->
 <!-- <span class="mask bg-gradient-danger opacity-8"></span>-->
  <!-- Header container -->

</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1" style="margin-left: 15%;">
      <div class="card bg-secondary shadow" >
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add Client</h3>
            </div>

          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Client informations</h6>
            <div class="pl-lg-4">

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" name="sss" [(ngModel)]="client.nom">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" name="sss1" value="Jesse" [(ngModel)]="client.prenom">
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-lg-6">
                  <div >
                    <label class="form-control-label" >sexe</label>
                    <div>
                    <p-dropdown [options]="sexelist" name="sexe"
                                 (onChange)="changeSexe($event)"
                                ></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Birth date</label>
                    <input class="form-control" type="date" [(ngModel)]="client.dateNaiss" name="sss3">
                  </div>
                </div>

              </div>
            </div>
            <hr class="my-4" />
            <!-- address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Email</label>
                    <input  class="form-control form-control-alternative" placeholder="email" name="sss4"  type="email" [(ngModel)]="client.email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">address</label>
                    <input id="input-address" class="form-control form-control-alternative" name="sss5" placeholder="Home address"  type="text" [(ngModel)]="client.address.principalAdress">
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" [(ngModel)]="client.address.city" name="city">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" [(ngModel)]="client.address.country" name="country">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" [(ngModel)]="client.address.postalCode" name="postalCode">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />


            <!-- address -->
            <h6 class="heading-small text-muted mb-4">Acount informations</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Code</label>
                    <input  class="form-control form-control-alternative" placeholder="Code" name="code" [(ngModel)]="account.codeClient" type="number" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Creation Date</label>
                    <input class="form-control form-control-alternative" name="creationDate" [(ngModel)]="account.dateCreation" type="date">
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">balance</label>
                    <input type="text"  class="form-control form-control-alternative" placeholder="balance" [(ngModel)]="account.solde" name="balance">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div >
                    <label class="form-control-label" >Account type</label>
                    <div>
                      <p-dropdown [options]="cptTypeList" name="typeCpt"
                                  [(ngModel)]="account.typeCpt"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Comment</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Comment</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words ..." name="comment" [(ngModel)]="client.comment">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div>
          </form>
          <div class="col-4 text-right" style="float:right; margin-right:-83px">
            <div class="col-sm-11 col-md-9 text-right">
              <button

                      class="client-button-primary"
                      label="Add client" (click)="saveClient($event)"
                      >Add client</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
