
.client-button-primary {
  font-family:"swiss721", "Helvetica Neue", Arial, sans-serif;
  color: white;
  font-size: 1.167rem;
  background-color: cadetblue;
  width: 100%;
}
::ng-deep .ui-dropdown{
  width: 100%;
  border: 1px solid #cad1d7;
}

.custom-zu-dropdown .ui-dropdown-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  width: 100% !important;
  height: 27px;
  .ui-dropdown-label {
    height: 100%;
  }
}
.ui-dropdown .ui-dropdown-panel {
  min-width: 100%;
  width: max-content;
}

.ng-valid{ width: 100%; }
