::ng-deep body .ui-table .ui-table-tbody > tr

> td {
  color: #525f7f !important;
  background-color: inherit;
   border: none !important;

  font-size: 0.8125rem;
  white-space: nowrap;}
::ng-deep body .ui-table .ui-table-thead > tr > th
{


  height: 42px;
  vertical-align: middle;
  border-color: inherit;
  border: none !important;
  background-color: #f6f9fc !important;
  color: #8898aa !important;
}
::ng-deep body .ui-table .ui-table-wrapper{
  padding-left: 20px;
  padding-right:20px;
}
