<div class="header pb-8 pt-5 pt-lg-8  align-items-center" style="min-height: 300px;  background-color: cadetblue;background-size: cover; background-position: center top;">




<form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">

  <div class="form-group mb-0 " [ngClass]="{ 'focused': focus === true }" style="margin-left: 3%;">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"
             (blur)="focus = false;search($event)">
    </div>
  </div>
</form>

</div>
<div class="row" style="margin-left: 1%;
    margin-right: 1%;">
<div  class="col-sm-4"  *ngFor=" let client of listClients" let index="i">
<div class=" mb-5 ">
  <div class="card card-profile shadow">
    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image" (click)="viewProfile(client.code)">
          <a href="javascript:void(0)">
            <img src="assets/img/brand/avatar.png" class="rounded-circle">
          </a>
        </div>
      </div>
    </div>
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
      <div class="d-flex justify-content-between">
        <a  class="btn btn-sm btn-info mr-4" (click)="openConnectdropDown($event,client.code)">Connect</a>
        <div *ngIf="openConnectDropDown && codeClt==client.code" >
          <div class="popup">
            <span class="popuptext" id="myPopup1">{{client.address.phoneNumber}}</span>
          </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-sm btn-default float-right" (click)="openMessgaedropDown($event,client.code)" style="margin-left: 50%;">Message</a>
        <div *ngIf="openMsgDropDown && codeClt==client.code">
          <div class="popup">
            <span class="popuptext" id="myPopup2">{{client.address.phoneNumber}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0 pt-md-4">
      <div class="row">
        <div class="col">
          <div class="card-profile-stats d-flex justify-content-center mt-md-5">

          </div>
        </div>
      </div>
      <div class="text-center">
        <h3>
          {{client.nom + '  '+ client.prenom}}<span class="font-weight-light"></span>
        </h3>
        <div class="h5 font-weight-300">
          <i class="ni location_pin mr-2"></i>{{client.dateNaiss+' years old'}}
        </div>
        <div class="h5 font-weight-300">
          <i class="ni location_pin mr-2"></i>{{client.address.principalAdress +','+   client.address.country}}
        </div>

        <div>
          <i class="ni education_hat mr-2"></i>{{client.email}}
        </div>
        <hr class="my-4" />
        <p>{{client.comment}}</p>

      </div>
    </div>
  </div>
</div>
</div>
</div>
